<div *ngIf="destination$ |async as dest;else no_destination">
<div *ngIf="destination$" class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

      <img
        [src]="dest.galerie[0]"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="image se charge"
      />

      <img
        [src]="dest.galerie[1]"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="image se charge"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">

      <img
        [src]="dest.galerie[2]"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="image se charge"
      />

      <img
        [src]="dest.galerie[3]"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="image se charge"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">

      <img
        [src]="dest.galerie[4]"

        class="w-100 shadow-1-strong rounded mb-4"
        alt="image se charge"
      />

      <img
        [src]="dest.galerie[5]"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="image se charge"
      />
    </div>
  </div>

</div>

<ng-template #no_destination><p>Error, no destination found!</p></ng-template>


